<section class="page page-statuses">

  <header class="page-header">
  <h1>All of the statuses</h1>
  </header>
  <%= link_to 'Post a New Status', new_status_path, :class => "btn btn-block btn-primary" %>
  <ul class="block-list statuses">
    <% @statuses.each do |status| %>
    <li>
      <article class="statuses-item">
        <header class="statuses-item-header">
          <h4><%= @status.user.full_name %></h4>
        </header>
        <p><%= status.content %></p>
        <footer class="statuses-item-footer">
          <div class="actions">
            <%= link_to time_ago_in_words(status.created_at) + " ago", status %>
            <%= link_to 'Edit', edit_status_path(status), :class => 'admin' %>
            <%= link_to 'Remove', status, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'admin' %>
          </div>
        </footer>
      </article>
    </li>
    <% end %>
  </ul>
</section>
